.dropdown {
  position: relative;

  &__options {
    display: none;
    position: absolute;
    right: 0%;
    bottom: 100%;
    border: $border;

    flex-direction: column;

    background: $brand-white;

    text-align: center;
  }

  &:hover {
    .dropdown__options {
      // both display: flex; & display: block; work for this assignment maybe?
      // display: flex;
      display: flex;
    }
  }
}

.dropdown__options-item {
  padding: $gutter;

  border-top: $border;

  color: $brand-primary;

  &:first-of-type {
    border-top: 0;
  }

  &:hover {
    font-size: 1.2rem;
  }
}

.shirt-color--pink {
  color: $pink;
}

.shirt-color--blue {
  color: $blue;
}

.shirt-color--yellow {
  color: $yellow;
}

.shirt-color--green {
  color: $green;
}
