.shop-item__btns {
  display: flex;
}

.shop-btn {
  flex-grow: 1;

  padding: $gutter;

  border-top: $border;
  border-right: $border;

  &:last-of-type {
    border-right: 0;
  }

  &:hover {
    background: $brand-primary;
    color: $brand-white;
  }
}
