.row {
  flex-direction: column;
  align-items: center;
}

.grid-item {
  width: 70%;
}

.shop-item {
  flex-direction: row;
  align-items: center;

  &__shirt {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__info {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__btns {
    flex-direction: column;
    position: relative;
  }
}

.shop-btn {
  padding: $gutter;

  border: 0;

  border-top: $border;
  border-left: $border;

  &:first-of-type {
    border-top: 0;
  }
}

.dropdown {
  display: flex;

  &__options {
    display: none;
    position: absolute;
    right: 100%;
    bottom: 0;
    align-items: center;
    background: $brand-white;
    color: $brand-primary;

    &-item {
      padding: $gutter;

      border: 0;
      border-right: $border;
      border-bottom: $border;

      &:first-of-type {
        border-left: $border;
      }
    }
  }

  &:hover {

    &__options {
      display: flex;
      align-items: center;
    }
  }
}
